.banner {
    background: url("https://a0.muscache.com/im/pictures/hosting/Hosting-U3RheVN1cHBseUxpc3Rpbmc6MTI3OTI0NDg3NDg0ODgwNDk5Mw%3D%3D/original/c755f52b-51dd-4923-9b62-cfa725827dc5.jpeg?im_w=960") center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    position: relative;
}

.banner__info {
    background-color: black;
    color: white;
    padding-top: 25vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    width: 300px;
}

.banner__searchButton {
    background-color: white !important;
    color: #ff7779 !important;
    text-transform: inherit !important;
    font-weight: 900 !important;
}

.banner__info > button {
    background-color: #ff7779;
    color: white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
}

.banner__info > button:hover {
    background-color: white;
    color:#ff7779
}